<?xml version="1.0" encoding="UTF-8"?>

<launch>
    
    <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_b" args="0 0 0.1 3.14159265359 0 0 base_link lidar"/>
    
    <node pkg="tf2_ros" type="static_transform_publisher" name="carrot_b" args="0.1 0.1 0.05 0 0 1.57079632679 camera carrot"/>

</launch>

