<?xml version="1.0" encoding="UTF-8"?>

<launch>
    
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find puzzlebot_sim)/rviz/m2_p1_config_rviz.rviz" />
    
    <node name="puzzlebot_kinematic_model" pkg="puzzlebot_sim" type="puzzlebot_kinematic_model.py" output="screen"/>
    
    <node name="localisation" pkg="puzzlebot_sim" type="dead_reckoning.py" output="screen"/>

</launch>

